<nav class="w-full h-[50px] bg-[#131e2b] flex col-span-2 col-end-auto row-start-1 row-end-auto">
  <div class="mx-5 w-full flex items-center justify-between">
    <a class="navbar-brand w-min text-[#ea6536] text-2xl font-[300] flex items-center gap-[0.3rem]" href="/">
      <img class="w-[1.7rem] h-[1.7rem]" src="/favicon.ico" alt="favicon" />SumsWarded
    </a>

    <a href="/download" target="_blank" rel="noopener noreferrer">
      <button class="download-btn hidden sm:block">Download App</button>
    </a>
  </div>
</nav>
